.text-price {

    padding-top: 5px;

}

.fst-capitalize::first-letter {

    text-transform: uppercase;

}

span {

    display: flex;
    align-items: center;
    justify-content: flex-start;
  
}
  
  figure {
    
    display: inline-block;

}
